app-input-search {
	width: fit-content;
	display: flex;
	box-sizing: border-box;
	#search-button {
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		height: 100%;
		width: 42px;
		min-width: fit-content;
	}

	mat-form-field,
	.mat-mdc-form-field-wrapper,
	.mat-mdc-form-field-flex,
	.mat-mdc-form-field-outline {
		width: fit-content;
		min-width: 84px;
	}
	.mat-mdc-form-field-infix {
		padding-top: 18px !important;
	}
	.mat-focused .mat-mdc-form-field-label {
		transform: translateY(-1.2em) scale(0.75) !important;
	}
}
