<ng-template #content>
	<ng-content></ng-content>
	<ng-container *ngIf="label">{{ label }}</ng-container>
</ng-template>

<ng-container *ngIf="href; else buttonTemplate" [ngSwitch]="type">
	<a
		class="w-full font-normal"
		[routerLink]="href"
		routerLinkActive="!font-bold underline underline-offset-2"
		[routerLinkActiveOptions]="{exact: true}"
		[fragment]="fragment"
		[queryParams]="params"
		*ngSwitchCase="'raised'"
		mat-raised-button
		[color]="color"
		[disabled]="disabled">
		<ng-container *ngTemplateOutlet="content" />
	</a>

	<a
		class="w-full font-normal"
		[routerLink]="href"
		routerLinkActive="!font-bold underline underline-offset-2"
		[routerLinkActiveOptions]="{exact: true}"
		[queryParams]="params"
		[fragment]="fragment"
		*ngSwitchCase="'stroked'"
		mat-stroked-button
		[color]="color"
		[disabled]="disabled">
		<ng-container *ngTemplateOutlet="content" />
	</a>

	<a
		class="w-full font-normal"
		[routerLink]="href"
		routerLinkActive="!font-bold underline underline-offset-2"
		[routerLinkActiveOptions]="{exact: true}"
		[queryParams]="params"
		[fragment]="fragment"
		*ngSwitchCase="'flat'"
		mat-flat-button
		[color]="color"
		[disabled]="disabled">
		<ng-container *ngTemplateOutlet="content" />
	</a>

	<a
		class="w-full font-normal"
		[routerLink]="href"
		routerLinkActive="!font-bold underline underline-offset-2"
		[routerLinkActiveOptions]="{exact: true}"
		[queryParams]="params"
		[fragment]="fragment"
		*ngSwitchCase="'icon'"
		mat-icon-button
		[color]="color"
		[disabled]="disabled">
		<ng-container *ngTemplateOutlet="content" />
	</a>

	<a
		class="w-full font-normal"
		[routerLink]="href"
		routerLinkActive="!font-bold underline underline-offset-2"
		[routerLinkActiveOptions]="{exact: true}"
		[queryParams]="params"
		[fragment]="fragment"
		*ngSwitchCase="'menu-item'"
		mat-menu-item
		[class]="'text-' + color"
		[disabled]="disabled">
		<ng-container *ngTemplateOutlet="content" />
	</a>

	<a
		class="w-full font-normal"
		*ngSwitchDefault
		mat-button
		[routerLink]="href"
		routerLinkActive="!font-bold underline underline-offset-2"
		[routerLinkActiveOptions]="{exact: true}"
		[queryParams]="params"
		[fragment]="fragment"
		[color]="color"
		[disabled]="disabled">
		<ng-container *ngTemplateOutlet="content" />
	</a>
</ng-container>

<ng-template #buttonTemplate [ngSwitch]="type">
	<button
		class="w-full font-normal"
		*ngSwitchCase="'raised'"
		mat-raised-button
		[color]="color"
		[disabled]="disabled">
		<ng-container *ngTemplateOutlet="content" />
	</button>

	<button
		class="w-full font-normal"
		*ngSwitchCase="'stroked'"
		mat-stroked-button
		[color]="color"
		[disabled]="disabled">
		<ng-container *ngTemplateOutlet="content" />
	</button>

	<button
		class="w-full font-normal"
		*ngSwitchCase="'flat'"
		mat-flat-button
		[color]="color"
		[disabled]="disabled">
		<ng-container *ngTemplateOutlet="content" />
	</button>

	<button
		class="w-full font-normal"
		*ngSwitchCase="'icon'"
		mat-icon-button
		[color]="color"
		[disabled]="disabled">
		<ng-container *ngTemplateOutlet="content" />
	</button>

	<button
		class="w-full font-normal"
		*ngSwitchCase="'menu-item'"
		mat-menu-item
		[class]="'text-' + color"
		[disabled]="disabled">
		<ng-container *ngTemplateOutlet="content" />
	</button>

	<button
		class="w-full font-normal"
		*ngSwitchDefault
		mat-button
		[color]="color"
		[disabled]="disabled">
		<ng-container *ngTemplateOutlet="content" />
	</button>
</ng-template>
