<mat-toolbar class="justify-start gap-3 !h-16">
	<button
		mat-icon-button
		class="md:!hidden"
		[matMenuTriggerFor]="navigationMenu"
		aria-label="Afficher le menu pour mobile">
		<mat-icon>menu</mat-icon>
	</button>
	<mat-menu #navigationMenu="matMenu">
		@for (link of navigationLinks['public']; track link) {
			<a mat-menu-item [routerLink]="'/' + link.path">
				{{ link.name }}
			</a>
		}
		@if (!currentUser?.uuid) {
			<hr />
			<a mat-menu-item routerLink="/login">se connecter</a>
			<a mat-menu-item routerLink="/register">s'inscrire</a>
		}
	</mat-menu>

	<app-icon
		class="w-16 cursor-pointer"
		svg="logo"
		routerLink="/"
		routerLinkActive="font-bold" />

	@for (link of navigationLinks['public']; track link) {
		<a
			mat-button
			class="md:!inline-block !hidden"
			color="primary"
			[routerLink]="'/' + link.path">
			{{ link.name }}
		</a>
	}

	<span class="flex-1"></span>

	<button
		mat-icon-button
		[matMenuTriggerFor]="helpMenu"
		aria-label="Afficher le menu d'aide">
		<mat-icon color="accent">help</mat-icon>
	</button>

	<mat-menu #helpMenu="matMenu">
		<button mat-menu-item href="mailto:methode.claire@gmail.com">
			<mat-icon>mail</mat-icon>
			contact
		</button>

		<a
			mat-menu-item
			target="_blank"
			href="https://raw.githubusercontent.com/louiiuol/la-methode-claire/main/src/assets/pdf/cgv.pdf">
			<mat-icon>local_police</mat-icon>
			Conditions générales de ventes
		</a>

		<a
			mat-menu-item
			target="_blank"
			href="https://raw.githubusercontent.com/louiiuol/la-methode-claire/main/src/assets/pdf/mentions-legales.pdf">
			<mat-icon>gavel</mat-icon>
			Mentions légales
		</a>
	</mat-menu>

	@if (!currentUser?.uuid) {
		<a mat-raised-button color="primary" href="/login"> se connecter </a>
		<a
			mat-raised-button
			class="md:!inline-block !hidden"
			color="accent"
			href="/register">
			s'inscrire
		</a>
	} @else {
		<button
			[matMenuTriggerFor]="userMenu"
			mat-mini-fab
			color="primary"
			aria-label="menu utilisateur">
			<span class="block text-base">
				{{ currentUser | initials }}
			</span>
		</button>
		<mat-menu #userMenu="matMenu">
			<a mat-menu-item href="/app/dashboard">
				<mat-icon>dashboard</mat-icon>
				Tableau de bord
			</a>
			<a mat-menu-item href="/app/profile">
				<mat-icon>person</mat-icon>
				Profil
			</a>
			@if (currentUser?.role === 'ADMIN') {
				<a mat-menu-item href="/back-office/dashboard" class="text-accent">
					<mat-icon>settings</mat-icon>
					Back-Office
				</a>
			}
			<button mat-menu-item class="text-warn" (click)="logOut()">
				<mat-icon>logout</mat-icon>
				se déconnecter
			</button>
		</mat-menu>
	}
</mat-toolbar>
