<mat-toolbar class="gap-3 !h-16 justify-start">
	<app-button
		class="md:hidden"
		[matMenuTriggerFor]="navigationMenu"
		aria-label="Afficher le menu pour mobile"
		type="icon">
		<app-icon>menu</app-icon>
	</app-button>
	<mat-menu #navigationMenu="matMenu">
		<app-button
			type="menu-item"
			*ngFor="let link of navigationLinks['public']"
			[href]="'/' + link.path"
			[label]="link.name" />
	</mat-menu>

	<app-icon
		class="w-16 cursor-pointer"
		svg="logo"
		routerLink="/"
		routerLinkActive="font-bold" />

	<app-button
		class="hidden md:block"
		*ngFor="let link of navigationLinks['public']"
		color="primary"
		[href]="'/' + link.path"
		[label]="link.name" />

	<span class="flex-1"></span>

	<a
		class="text-base border border-red-400 text-red-400 rounded-md px-3 py-1 hover:bg-red-400 hover:text-white"
		href="mailto:methode.claire@gmail.com"
		label="contact">
		contact
	</a>

	<ng-container *ngIf="!currentUser?.uuid; else userMenuSection">
		<app-button
			class="hidden xs:block"
			type="raised"
			color="primary"
			href="/login"
			label="se connecter" />
		<app-button
			type="raised"
			color="accent"
			href="/register"
			label="s'inscrire" />
	</ng-container>
	<ng-template #userMenuSection>
		<app-button
			[matMenuTriggerFor]="userMenu"
			class="bg-primary rounded-full text-white"
			type="icon">
			<span class="text-md -mt-1 block">
				{{ currentUser?.initials?.toLocaleUpperCase() }}
			</span>
		</app-button>
		<mat-menu #userMenu="matMenu">
			<app-button
				type="menu-item"
				href="/app/dashboard"
				label="Tableau de bord">
				<app-icon>dashboard</app-icon>
			</app-button>

			<app-button type="menu-item" href="/app/profile" label="profil">
				<app-icon>person</app-icon>
			</app-button>

			<app-button type="menu-item" href="/app/subscription" label="Abonnement">
				<app-icon>card_membership</app-icon>
			</app-button>

			<app-button
				*ngIf="currentUser?.isAdmin"
				type="menu-item"
				href="/back-office/dashboard"
				label="back-office"
				color="accent">
				<app-icon>settings</app-icon>
			</app-button>

			<app-button
				type="menu-item"
				color="warn"
				(click)="logOut()"
				label="se déconnecter">
				<app-icon>logout</app-icon>
			</app-button>
		</mat-menu>
	</ng-template>
</mat-toolbar>
