@if (!requestSent()) {
<app-card
	class="w-full max-w-3xl animate__animated animate__fadeInDown"
	cardTitle="Réinitialisez votre mot de passe"
	subtitle="Recevez un lien pour réinitialiser votre mot de passe">
	@if (token()) {
	<app-form
		[model]="model()"
		[submitted]="resetPassword"
		[fields]="fields"
		(sent)="hideForm($event)"
		[validators]="validators" />
	} @else {
	<app-message
		summary="Votre clé d’identification est manquante."
		details="Merci de re-cliquer sur le lien contenu dans le mail de réinitialisation
    du mot de passe."
		severity="error" />
	}
	<ng-template #cardFooter>
		<div class="text-center">
			<a mat-button color="accent" href="/login"> se connecter </a>
		</div>
	</ng-template>
</app-card>
} @else {
<app-card
	title="Vérifiez votre boîte mail"
	subtitle="Afin de vérifier votre compte, nous vous avons envoyé un email de vérification.">
	<img
		class="max-w-xs"
		src="https://raw.githubusercontent.com/louiiuol/la-methode-claire/main/src/assets/img/email_sent.png"
		alt="email de vérification envoyé" />
</app-card>
}
