<app-card
	*ngIf="!requestSent(); else: checkEmail"
	class="w-full max-w-3xl animate__animated animate__fadeInDown"
	title="Réinitialisez votre mot de passe"
	subtitle="Recevez un lien pour réinitialiser votre mot de passe">
	<app-form
		*ngIf="token(); else: invalidToken"
		[model]="model()"
		[submitted]="resetPassword"
		[fields]="fields"
		(sent)="hideForm($event)"
		[validators]="validators" />
	<ng-template #invalidToken>
		<app-message
			[closable]="false"
			summary="Votre clé d’identification est manquante."
			details="Merci de re-cliquer sur le lien contenu dans le mail de réinitialisation
    du mot de passe."
			severity="error" />
	</ng-template>
	<ng-template #cardFooter>
		<div class="text-center">
			<app-button color="accent" href="/login" label="se connecter" />
		</div>
	</ng-template>
</app-card>
<ng-template #checkEmail>
	<p>Email envoyé !</p>
</ng-template>
