<form
	*ngIf="form && formFields?.length; else loadingTemplate"
	[formGroup]="form"
	(ngSubmit)="onSubmit(formModel)"
	class="form-grid grid px-2 py-1 md:px-6 md:py-2">
	<app-message
		*ngIf="errorMessage"
		severity="error"
		[summary]="errorMessage"
		[closable]="true" />
	<formly-form
		[form]="form"
		[options]="options"
		[fields]="formFields ?? []"
		[model]="formModel"></formly-form>
	<footer class="mt-4 flex w-full justify-center gap-5">
		<button
			type="button"
			mat-stroked-button
			(click)="reset()"
			[disabled]="pristine()"
			color="primary">
			{{ 'core.actions.reset.action' | translate }}
		</button>
		<button
			mat-flat-button
			color="primary"
			type="submit"
			matTooltip="Form is invalid"
			[matTooltipDisabled]="form.valid"
			[disabled]="form.invalid">
			{{ 'core.actions.' + action + '.action' | translate }}
		</button>
	</footer>
</form>
<ng-template #loadingTemplate>
	<app-loader></app-loader>
</ng-template>
