<section class="bg-accent">
	<div class="max-w-5xl mx-auto px-9 sm:px-10 pt-4">
		<img
			class="w-full max-w-xl mx-auto mb-24"
			src="https://raw.githubusercontent.com/louiiuol/la-methode-claire/main/src/assets/img/illustrations/about-intro.png"
			alt="Illustration de la progression de Claire" />
		<h2>Une professeure des écoles, spécialisée depuis plus de 20 ans...</h2>
		<p>
			La petite histoire c’est que, lorsqu’au début de ma carrière on m’a confié
			des CP, les choses ne se sont pas passées comme prévu. Mais alors pas du
			tout. Linguiste de formation, passionnée par la langue, mon égo a
			souffert... Me sentant totalement démunie face aux enfants à qui je ne
			parvenais pas à bien apprendre à lire et à écrire, je suis partie un an en
			formation afin de me spécialiser.
		</p>
		<p>
			Je ne dirais pas que je n’ai rien appris cette année-là, ce serait mentir.
			Mais une chose est sûre : de retour sur le terrain, je ne savais toujours
			pas comment apprendre à lire aux enfants qui m’étaient confiés. C’est à ce
			moment là que j’ai entrepris des recherches et que, année après année,
			j’ai transformé ma pratique.
		</p>
		<h2 class="mt-24">... mais compétente (vraiment) seulement depuis 5 !</h2>
		<p>
			Ces recherches m’ont d’abord convaincue d’abandonner les méthodes mixtes –
			pourtant conseillées en formation – et d’adopter une méthode syllabique.
			Si je suis parvenue, grâce à cette dernière, à faire entrer beaucoup plus
			d’enfants qu’auparavant dans l’écrit, seul 1/3 d’entre eux terminait leur
			CP sachant lire avec, selon le mot de Jaurès, “une facilité absolue”. Mais
			alors que se passait-il pour les autres ?
		</p>
		<p>
			J’ai mis un temps fou à le voir : leur décodage était en réalité sans
			cesse entravé par les particularités de notre langue écrite. Et ça ne
			pouvait pas ne pas avoir de répercussions sur la qualité des
			apprentissages de mes élèves. : de très nombreuses recherches (Share,
			2009, Wang et al., 2012, Ricketts et al. 2007) démontrent en effet que dès
			lors que le décodage d’un enfant n’est que partiel il éprouve les plus
			grandes difficultés à automatiser sa lecture.
		</p>

		<img
			class="w-full rounded-lg my-16 max-w-xl mx-auto"
			src="https://raw.githubusercontent.com/louiiuol/la-methode-claire/main/src/assets/img/claire.png"
			alt="Portrait de Claire" />

		<h2>Bref, un poisson qui a appris à voir l’eau dans laquelle il nage...</h2>
		<p>
			C’est donc alertée par ces recherches que j’ai commencé à prêter attention
			à tout ce qui mettait les élèves en difficultés. Et là, horreur : alors
			que je me battais depuis tant d’années pour venir en aide à tous ces
			enfants en mal de lecture, j’avais été en fait comme un poisson qui ne
			voit pas l’eau dans laquelle il nage ! Je n’avais jamais vu qu’après avoir
			appris qu’un a et un n faisaient le son [an], beaucoup ne savaient plus
			lire les mots canard ou canapé.
		</p>

		<p>
			Je n’avais jamais vu à quel point telle ou telle combinaison de lettres
			mettaient tant d’enfants en difficultés. Je n’avais jamais vu que savoir
			parler, et donc fusionner des sons, ne signifiait pas savoir fusionner
			deux sons à l’oral volontairement. Je n’avais pas vu combien la lettre e
			les déstabilisait..
		</p>

		<p>
			En fait, je n’avais jamais vu que les enfants butaient TOUS et TOUJOURS
			sur les mêmes obstacles, indépendamment de leurs capacités ou de leur
			caractère. Et que c’est dans leur façon d’y répondre qu’ils se
			différenciaient.
		</p>

		<h2 class="mt-24">... Et qui voudrait la faire voir à d’autres !</h2>
		<p>
			J’ai écrit La Méthode claire avec en guise de leitmotiv deux obsessions :
		</p>
		<ol class="my-2">
			<li class="list-decimal pl-2 ml-4">
				Aider les enseignants qui le désirent à voir ce que j’ai mis tant de
				temps à comprendre : ce qui, dans la nature même de la langue, peut
				rendre si difficile aux enfants son apprentissage écrit et comment,
				concrètement, les aider.
			</li>
			<li class="list-decimal pl-2 ml-4">
				Parvenir à leur faire expérimenter l’immense capacité des enfants à
				s’emparer des explications qu’on leur donne sur le fonctionnement de la
				langue quand elle ne fonctionne pas de manière univoque. Et l’immense
				joie que ça leur procure.
			</li>
		</ol>
		<p>
			Comment ? À travers mes scripts. <br />Chaque leçon, de la première à la
			dernière, a le sien. J’y répertorie et y analyse tous les obstacles
			auxquels les enfants sont confrontés et y décrit les chemins à leur faire
			prendre pour qu’ils parviennent non pas à les contourner mais à les
			dépasser.
		</p>
		<p>
			Bref, excessive comme je sais l’être, j’y explique tout, tout le temps et
			le plus précisément possible.
		</p>
		<img
			class="mt-24"
			src="https://raw.githubusercontent.com/louiiuol/la-methode-claire/main/src/assets/img/illustrations/about-outro.png"
			alt="Illustration de Claire et ses élèves" />
	</div>
</section>
