<nav class="flex gap-3 items-center justify-between px-1">
	<app-input-search [fields]="searchFields" label="" />
	<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="outils admin">
		<app-icon color="primary">more_vert</app-icon>
	</button>
	<mat-menu #menu="matMenu" xPosition="before">
		<button mat-menu-item (click)="exportEmails()">Exporter les emails</button>
	</mat-menu>
</nav>

<div class="mat-elevation-z8">
	<ng-container *ngIf="isLoadingResults || isRateLimitReached">
		<div class="example-loading-shade">
			<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
			<div *ngIf="isRateLimitReached" class="example-rate-limit-reached">
				Aucun résultat disponible
			</div>
		</div>
	</ng-container>

	<table
		class="block w-full overflow-x-auto"
		mat-table
		[dataSource]="data"
		matSort
		matSortActive="createdAt"
		matSortDisableClear
		aria-describedby="Liste des utilisateurs de l'application"
		matSortDirection="desc">
		<!-- Email Column -->
		<ng-container matColumnDef="email">
			<th mat-header-cell mat-sort-header *matHeaderCellDef>Email</th>
			<td mat-cell *matCellDef="let row">{{row.email}}</td>
		</ng-container>

		<!-- First Name Column -->
		<ng-container matColumnDef="firstName">
			<th mat-header-cell mat-sort-header *matHeaderCellDef>Prénom</th>
			<td mat-cell *matCellDef="let row">{{row.firstName ?? '--'}}</td>
		</ng-container>

		<!-- Last Name Column -->
		<ng-container matColumnDef="lastName">
			<th mat-header-cell mat-sort-header *matHeaderCellDef>Nom</th>
			<td mat-cell *matCellDef="let row">{{row.lastName ?? '--'}}</td>
		</ng-container>

		<!-- Active Column -->
		<ng-container matColumnDef="isActive">
			<th mat-header-cell mat-sort-header *matHeaderCellDef>Actif</th>
			<td mat-cell *matCellDef="let row" class="!text-center">
				<mat-slide-toggle
					*ngIf="row.role !=='ADMIN'; else: checkedSymbol"
					color="primary"
					[checked]="row.isActive"
					(click)="toggleAccount(row)" />
			</td>
		</ng-container>

		<!-- Subscribed Column -->
		<ng-container matColumnDef="subscribed">
			<th mat-header-cell mat-sort-header *matHeaderCellDef>Abonné</th>
			<td mat-cell *matCellDef="let row" class="!text-center">
				<mat-slide-toggle
					*ngIf="!row.subscribed; else: checkedSymbol"
					color="primary"
					[checked]="row.subscribed"
					(click)="toggleSubscription(row)" />
			</td>
		</ng-container>

		<!-- CurrentLesson Column -->
		<ng-container matColumnDef="currentLessonIndex">
			<th mat-header-cell mat-sort-header *matHeaderCellDef>Leçon courante</th>
			<td mat-cell *matCellDef="let row" class="!text-center">
				{{row.currentLessonIndex}}
			</td>
		</ng-container>

		<!-- Created At Column -->
		<ng-container matColumnDef="createdAt">
			<th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
				Date d'inscription
			</th>
			<td mat-cell *matCellDef="let row">{{row.createdAt | date}}</td>
		</ng-container>

		<!-- Last Connection Column -->
		<ng-container matColumnDef="lastConnection">
			<th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
				Dernière connexion
			</th>
			<td mat-cell *matCellDef="let row">{{row.lastConnection | date}}</td>
		</ng-container>

		<!-- Newsletter Column -->
		<ng-container matColumnDef="newsletter">
			<th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
				Newsletter
			</th>
			<td mat-cell *matCellDef="let row" class="!text-center">
				{{row.newsletter ? '✔️' : '❌'}}
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>

	<mat-paginator [length]="resultsLength" [pageSize]="50" />
</div>

<ng-template #checkedSymbol>✔️</ng-template>
