<div class="example-container">
	<nav class="flex gap-3 items-center justify-between px-1">
		<app-input-search
			[value]="config().filterOptions.email"
			label="Filtrer par email" />
		<mat-form-field appearance="fill">
			<mat-label>Filter par:</mat-label>
			<mat-select [(value)]="searchActiveField.value">
				<mat-option
					[value]="option.value"
					(onSelectionChange)="setActiveSearchField(option)"
					*ngFor="let option of searchFields">
					{{ option.viewValue }}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<app-button
			label="Réinitialiser les abonnements"
			(click)="resetSubscription()"
			type="stroked" />
		<app-filters-menu [filters]="config().filterOptions" />
	</nav>

	<ng-container *ngIf="isLoadingResults || isRateLimitReached">
		<div class="example-loading-shade">
			<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
			<div *ngIf="isRateLimitReached" class="example-rate-limit-reached">
				Aucun résultat disponible
			</div>
		</div>
	</ng-container>

	<div class="mat-elevation-z8">
		<table
			mat-table
			[dataSource]="data"
			matSort
			matSortActive="createdAt"
			matSortDisableClear
			aria-describedby="Liste des utilisateurs de l'application"
			matSortDirection="desc">
			<!-- Email Column -->
			<ng-container matColumnDef="name">
				<th mat-header-cell mat-sort-header *matHeaderCellDef>Nom / Email</th>
				<td mat-cell *matCellDef="let row">
					{{row.firstName || row.lastName ?[ row.firstName, row.lastName].join('
					') : row.email}}
				</td>
			</ng-container>

			<!-- Active Column -->
			<ng-container matColumnDef="isActive">
				<th mat-header-cell mat-sort-header *matHeaderCellDef>Actif</th>
				<td mat-cell *matCellDef="let row">
					<mat-slide-toggle
						color="primary"
						[disabled]="row.role === 'ADMIN'"
						[checked]="row.isActive"
						(click)="toggleAccount(row)" />
				</td>
			</ng-container>

			<!-- Subscribed Column -->
			<ng-container matColumnDef="subscribed">
				<th mat-header-cell mat-sort-header *matHeaderCellDef>Abonné</th>
				<td mat-cell *matCellDef="let row">
					<mat-slide-toggle
						color="primary"
						[checked]="row.subscribed"
						(click)="toggleSubscription(row)" />
				</td>
			</ng-container>

			<!-- CurrentLesson Column -->
			<ng-container matColumnDef="currentLessonIndex">
				<th mat-header-cell mat-sort-header *matHeaderCellDef>
					Leçon courante
				</th>
				<td mat-cell *matCellDef="let row">{{row.currentLessonIndex}}</td>
			</ng-container>

			<!-- LastConnection Column -->
			<ng-container matColumnDef="createdAt">
				<th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
					Date d'inscription
				</th>
				<td mat-cell *matCellDef="let row">{{row.createdAt | date}}</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
	</div>

	<mat-paginator [length]="resultsLength" [pageSize]="30" />
</div>
