<nav class="flex justify-between items-center gap-6 px-1">
	<app-filters [loading]="isLoadingResults" />
	<div class="flex-1"></div>
	<button
		mat-icon-button
		[matMenuTriggerFor]="adminTools"
		aria-label="outils admin">
		<mat-icon color="primary">more_vert</mat-icon>
	</button>
	<mat-menu #adminTools="matMenu" xPosition="before">
		<button mat-menu-item (click)="exportEmails()">Exporter les emails</button>
	</mat-menu>
</nav>

<section class="mat-elevation-z8">
	<div class="overflow-auto" style="max-height: 60vh">
		<table
			mat-table
			[dataSource]="data"
			matSort="false"
			matSortActive="lastConnection"
			matSortDirection="desc"
			matSortDisableClear
			aria-describedby="Liste des utilisateurs de l'application">
			<!-- Email Column -->
			<ng-container matColumnDef="email" [sticky]="true">
				<th mat-header-cell mat-sort-header *matHeaderCellDef>Email</th>
				<td mat-cell *matCellDef="let row">{{row.email}}</td>
			</ng-container>

			<!-- First Name Column -->
			<ng-container matColumnDef="firstName">
				<th mat-header-cell mat-sort-header *matHeaderCellDef>Prénom</th>
				<td mat-cell *matCellDef="let row">{{row.firstName ?? '--'}}</td>
			</ng-container>

			<!-- Last Name Column -->
			<ng-container matColumnDef="lastName">
				<th mat-header-cell mat-sort-header *matHeaderCellDef>Nom</th>
				<td mat-cell *matCellDef="let row">{{row.lastName ?? '--'}}</td>
			</ng-container>

			<!-- Active Column -->
			<ng-container matColumnDef="isActive">
				<th mat-header-cell mat-sort-header *matHeaderCellDef>Actif</th>
				<td mat-cell *matCellDef="let row" class="!text-center">
					@if (row.role !=='ADMIN') {
					<mat-slide-toggle
						color="primary"
						[checked]="row.isActive"
						(click)="toggleAccount(row)" />
					} @else { ✔️ }
				</td>
			</ng-container>

			<!-- Subscribed Column -->
			<ng-container matColumnDef="subscribed">
				<th mat-header-cell mat-sort-header *matHeaderCellDef>Abonné</th>
				<td mat-cell *matCellDef="let row" class="!text-center">
					@if (!row.subscribed) {
					<mat-slide-toggle
						color="primary"
						[checked]="row.subscribed"
						(click)="toggleSubscription(row)" />
					} @else { ✔️ }
				</td>
			</ng-container>

			<!-- CurrentLesson Column -->
			<ng-container matColumnDef="currentLessonIndex">
				<th mat-header-cell mat-sort-header *matHeaderCellDef>
					Leçon courante
				</th>
				<td mat-cell *matCellDef="let row" class="!text-center">
					{{row.currentLessonIndex}}
				</td>
			</ng-container>

			<!-- Created At Column -->
			<ng-container matColumnDef="createdAt">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>
					Date d'inscription
				</th>
				<td mat-cell *matCellDef="let row">
					<span class="text-xs" [matTooltip]="(row.createdAt | date) ?? '--'"
						>{{row.createdAt | since}}</span
					>
				</td>
			</ng-container>

			<!-- Last Connection Column -->
			<ng-container matColumnDef="lastConnection">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>
					Dernière connexion
				</th>
				<td mat-cell *matCellDef="let row">
					<span
						class="text-xs"
						[matTooltip]="(row.lastConnection | date) ?? '--'"
						>{{row.lastConnection | since}}</span
					>
				</td>
			</ng-container>

			<!-- Newsletter Column -->
			<ng-container matColumnDef="newsletter">
				<th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
					Newsletter
				</th>
				<td mat-cell *matCellDef="let row" class="!text-center">
					{{row.newsletter ? '✔️' : '❌'}}
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>

		@if (isLoadingResults) {
		<mat-progress-bar mode="indeterminate" />
		}
	</div>
	<mat-paginator
		[length]="resultsLength"
		[pageSize]="filters.size"
		[pageSizeOptions]="[10, 25, 50, 100]"
		[pageIndex]="filters.page" />
</section>
