/** FORM **/
.mat-mdc-form-field-subscript-wrapper:has(mat-error, mat-hint) {
	margin-bottom: 1em;
	margin-top: 0.5em;
	display: contents;
	&::before {
		position: absolute;
	}
	.mat-mdc-form-field-hint-wrapper,
	.mat-mdc-form-field-error-wrapper {
		position: inherit !important;
		margin-bottom: 0.5em;
	}
}

.mat-mdc-text-field-wrapper {
	background-color: inherit !important;
}

/** MENU **/
.mat-mdc-menu-item > span {
	display: flex;
}

.mat-mdc-menu-item > span,
.mat-mdc-menu-item .mat-icon-no-color,
.mat-mdc-menu-submenu-icon {
	color: currentColor !important;
}

/** DRAWER **/
.mat-drawer-inner-container {
	display: flex;
	flex-direction: column;
}

mat-drawer-container.flexed mat-drawer-content {
	display: flex !important;
	align-items: center;
	justify-content: center;
}

/** CARD **/
.mat-mdc-card-header-text {
	width: 100%;
}
