/** FORM **/
.mat-mdc-form-field-subscript-wrapper:has(mat-error, mat-hint) {
	margin-bottom: 1em;
	margin-top: 0.5em;
	display: contents;
	&::before {
		position: absolute;
	}
	.mat-mdc-form-field-hint-wrapper,
	.mat-mdc-form-field-error-wrapper {
		position: inherit !important;
		margin-bottom: 0.5em;
	}
}

.mat-mdc-text-field-wrapper {
	background-color: inherit !important;
}

/** MENU **/
.mat-mdc-menu-item > span {
	display: flex;
	width: 100%;
}

.mat-mdc-menu-item > span,
.mat-mdc-menu-item .mat-icon-no-color,
.mat-mdc-menu-submenu-icon {
	color: currentColor !important;
}

/** DRAWER **/
.mat-drawer-inner-container {
	display: flex;
	flex-direction: column;
}

.mat-drawer-content {
	display: flex !important;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

/** CARD **/
.mat-mdc-card-header-text {
	width: 100%;
}

/** BUTTONS **/
.mat-mdc-icon-button {
	color: currentColor !important;
}

.mat-mdc-tab-body-wrapper {
	padding: 8px 12px;
	height: 100%;
	overflow-y: auto;
	background-color: #fcfcfc;
}

.mat-mdc-tab-body-content {
	display: flex;
	flex-direction: column;
}

.mat-expansion-indicator::after {
	border-color: #423f65;
}

:root {
	--mat-expansion-header-text-color: #423f65;
}
