// Custom Theming for Angular Material
@use '@angular/material' as mat;
/* For use in src/lib/core/theming/_palette.scss */
$md-blue: (
	50: #e7e7ea,
	100: #c2c3ca,
	200: #9a9ba7,
	300: #717283,
	400: #525469,
	500: #34364e,
	600: #2f3047,
	700: #27293d,
	800: #212235,
	900: #151625,
	A100: #6974ff,
	A200: #3645ff,
	A400: #0316ff,
	A700: #0012e8,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #ffffff,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #ffffff,
		A400: #ffffff,
		A700: #ffffff,
	),
);

$md-teal: (
	50: #f3f7f7,
	100: #e2eaeb,
	200: #cfdcde,
	300: #bcced1,
	400: #adc4c7,
	500: #9fb9bd,
	600: #97b2b7,
	700: #8daaae,
	800: #83a2a6,
	900: #729398,
	A100: #ffffff,
	A200: #e5fbff,
	A400: #b2f4ff,
	A700: #98f0ff,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #000000,
		700: #000000,
		800: #000000,
		900: #000000,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);

$md-orange: (
	50: #f9ede6,
	100: #f0d2c1,
	200: #e6b498,
	300: #db966e,
	400: #d4804f,
	500: #cc6930,
	600: #c7612b,
	700: #c05624,
	800: #b94c1e,
	900: #ad3b13,
	A100: #ffe6df,
	A200: #ffbeac,
	A400: #ff9679,
	A700: #ff825f,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);
$red: (
	// Defines Warnings Palette color
	50: #fee8e7,
	100: #fdc6c4,
	200: #fca19d,
	300: #fb7b75,
	400: #fa5e58,
	500: #f9423a,
	600: #f83c34,
	700: #f7332c,
	800: #f62b25,
	900: #f51d18,
	A100: #ffffff,
	A200: #fff3f3,
	A400: #ffc1c0,
	A700: #ffa8a7,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #fff,
		500: #fff,
		600: #fff,
		700: #fff,
		800: #fff,
		900: #fff,
		A100: #000000,
		A200: #fff,
		A400: #fff,
		A700: #fff,
	)
);
$primary: mat.define-palette($md-blue);
$primary-dark: mat.define-palette($md-teal);
$accent: mat.define-palette($md-orange);
$warn: mat.define-palette($red);

// Typography
$typography-config: mat.define-typography-config(
	$font-family: 'Poppins',
);
@include mat.core();

// Light Theme
$lmc-light-theme: mat.define-light-theme(
	(
		color: (
			primary: $primary,
			accent: $accent,
			warn: $warn,
		),
		typography: $typography-config,
	)
);
@include mat.all-component-themes($lmc-light-theme);

// Dark Theme
$lmc-dark-theme: mat.define-dark-theme(
	(
		color: (
			primary: $primary-dark,
			accent: $accent,
			warn: $warn,
		),
		typography: $typography-config,
	)
);

/* CUSTOM STYLES */
.text-accent {
	color: mat.get-color-from-palette($accent) !important;
}
.bg-accent {
	background-color: mat.get-color-from-palette($accent) !important;
}
.text-primary {
	color: mat.get-color-from-palette($primary) !important;
}

.text-warn {
	color: mat.get-color-from-palette($warn) !important;
}
.bg-warn {
	background-color: mat.get-color-from-palette($warn) !important;
}
.text-success {
	color: #26da35 !important;
}
.bg-success {
	background-color: #26da35 !important;
}
.text-orange {
	color: #cc6930 !important;
}
.bg-orange {
	background-color: #cc6930 !important;
}

/* DARK MODE */
.dark {
	@include mat.all-component-colors($lmc-dark-theme);
	.text-primary {
		color: mat.get-color-from-palette($primary-dark) !important;
	}
	.bg-primary {
		background-color: mat.get-color-from-palette($primary-dark) !important;
	}
}
