@use '@angular/material' as mat;

$md-blue: (
	50: #e8e8ed,
	100: #c6c5d1,
	200: #a19fb2,
	300: #7b7993,
	400: #5e5c7c,
	500: #423f65,
	600: #3c395d,
	700: #333153,
	800: #2b2949,
	900: #1d1b37,
	A100: #867bff,
	A200: #5748ff,
	A400: #2815ff,
	A700: #1400fb,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #ffffff,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #ffffff,
		A400: #ffffff,
		A700: #ffffff,
	),
);

$md-sky: (
	50: #f6f9fa,
	100: #e8f0f3,
	200: #d8e7ec,
	300: #c8dde4,
	400: #bdd5de,
	500: #b1ced8,
	600: #aac9d4,
	700: #a1c2ce,
	800: #98bcc8,
	900: #88b0bf,
	A100: #ffffff,
	A200: #ffffff,
	A400: #e9f9ff,
	A700: #cff2ff,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #000000,
		700: #000000,
		800: #000000,
		900: #000000,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);

$md-orange: (
	50: #fdede1,
	100: #f9d2b4,
	200: #f6b582,
	300: #f29750,
	400: #ef802b,
	500: #ec6a05,
	600: #ea6204,
	700: #e75704,
	800: #e44d03,
	900: #df3c01,
	A100: #ffffff,
	A200: #ffdcd3,
	A400: #ffb3a0,
	A700: #ff9f86,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #000000,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #000000,
		A700: #000000,
	),
);

$primary: mat.define-palette($md-blue);
$primary-dark: mat.define-palette($md-sky);
$accent: mat.define-palette($md-sky);
$warn: mat.define-palette(
	(
		50: #fdede1,
		100: #f9d2b4,
		200: #f6b582,
		300: #f29750,
		400: #ef802b,
		500: #ec6a05,
		600: #ea6204,
		700: #e75704,
		800: #e44d03,
		900: #df3c01,
		A100: #ffffff,
		A200: #ffdcd3,
		A400: #ffb3a0,
		A700: #ff9f86,
		contrast: (
			50: #000000,
			100: #000000,
			200: #000000,
			300: #000000,
			400: #000000,
			500: #000000,
			600: #ffffff,
			700: #ffffff,
			800: #ffffff,
			900: #ffffff,
			A100: #000000,
			A200: #000000,
			A400: #000000,
			A700: #000000,
		),
	)
);
