html,
body {
	height: 100%;
	overscroll-behavior: none;
}
body {
	margin: 0;
}

.page {
	min-height: calc(100dvh - 64px);
}

.app-view {
	display: block;
	height: 100%;
}

.centered-content {
	display: flex;
	align-items: center;
	justify-content: center;
}
