.text-balance {
	text-wrap: balance;
}

main {
	p,
	li {
		margin-top: 1.5rem /* 24px */;
		margin-bottom: 1.5rem /* 24px */;
	}

	h2 {
		text-align: center;
		font-weight: bold;
		margin-top: 1.25rem;
		margin-bottom: 0.75rem;
		padding-inline: 0.5rem;
		letter-spacing: 0.05ch;
		font-size: 2.25rem;
		line-height: 1.4;
		text-wrap: balance;
	}
}
