<section class="bg-yellow-light">
	<div class="max-w-5xl mx-auto px-16 sm:px-10 pt-4 pb-3">
		<img
			class="w-full max-w-xl mx-auto mb-24"
			src="https://raw.githubusercontent.com/louiiuol/la-methode-claire/main/src/assets/img/illustrations/method-intro.png"
			alt="illustration d'introduction de la méthode" />

		<div class="content">
			<h2>La méthode: ses fondations</h2>
			<div class="relative">
				<span
					style="background-color: #ac981a"
					class="absolute -left-12 top-2 block w-6 h-6 rounded-full"></span>
				<p class="flex-1 !mt-0">
					S’appliquer à rendre les enfants conscients de tout ce qu’ils savent
					déjà faire. L’immense majorité des enfants qui arrivent au CP portent
					déjà en eux l’essentiel des compétences nécessaires à leur entrée dans
					l’écrit puisqu’ils parlent et raisonnent. Apprendre à lire à des
					enfants a donc tout intérêt à commencer par leur faire prendre
					conscience de ce qu’ils savent déjà et à leur apprendre à l’utiliser.
				</p>
			</div>
			<div class="relative">
				<span
					style="background-color: #fcdac6"
					class="absolute -left-12 top-2 block w-6 h-6 rounded-full"></span>
				<p class="flex-1 !mt-0">
					Donner aux obstacles que tout enfant rencontre quand il apprend à lire
					et à écrire une place de choix. Omettre de parler d’obstacles à un
					enfant qui apprend à lire, c’est prendre le risque qu’à la première
					difficulté rencontrée il se convainque qu’il est bête.
				</p>
			</div>
			<div class="relative">
				<span
					style="background-color: #ef7e64"
					class="absolute -left-12 top-2 block w-6 h-6 rounded-full"></span>
				<p class="flex-1 !mt-0">
					Apprendre aux enfants à mémoriser ce qu’ils ont appris. Car mémoriser
					s’apprend. Apprenons-leur. Mémoriser commence par aller récupérer en
					mémoire ce que l’on a appris → on en fait un rituel : quinze minutes
					tous les jours, de la deuxième semaine de l’année scolaire à la
					dernière – et ce n’est pas une formule.
					<strong class="mt-4">
						C’est une condition sine qua non pour les embarquer tous.
					</strong>
				</p>
			</div>
			<div class="relative">
				<span
					style="background-color: #b2ced8"
					class="absolute -left-12 top-2 block w-6 h-6 rounded-full"></span>
				<p class="flex-1 !mt-0">
					Rendre concret pour les enfants qu’apprendre à lire et à écrire ne se
					fait pas en un jour et que c’est tous les jours que l’on progresse un
					peu. Cette lettre qu’ils avaient du mal à retenir avant-hier et hier,
					ils la connaissent aujourd’hui. Et la connaîtront encore demain. Et si
					après-demain ils l’avaient oubliée, ce qui est tout à fait possible
					car c’est ainsi que la mémoire fonctionne, on leur rappellera
					qu’avant-hier ils la connaissaient et qu’il n’y a pas de raison que ce
					qu’ils sont parvenus à mémoriser une fois ils ne le mémorisent de
					nouveau. Et de façon plus sûre à chaque fois. Il faut que nos élèves
					aient pleinement conscience de ce qu’ils sont en train d’apprendre. Et
					pour cela, rien de mieux que de leur dire ! Mais pour leur dire il
					faut le
					<strong>VOIR</strong>. Et c’est cela que cette méthode vise à faire
					naître chez nous enseignant ou parent : une aptitude à voir ce que,
					par excès de familiarité avec la langue écrite, nous ne voyons plus.
					Car c’est cela qui va aider les plus fragiles à sortir du sentiment
					qu’ils n’ont pas de pouvoir sur leurs apprentissages : leur faire
					<strong>expérimenter et donc prendre conscience</strong>
					de l’inverse.
				</p>
			</div>
			<p class="my-6">
				La complexité n’est pas là où l’on pourrait penser qu’elle est. Ce qui
				est complexe, c’est de réussir à voir en quoi des notions que nous
				avons, nous, adultes lettrés, totalement automatisées, posent des
				difficultés à tant d’enfants. Ce qui est le plus compliqué c’est d’avoir
				un regard neuf sur des principes que nous avons tellement automatisés
				que nous ne voyons même pas ce qu’il peut y avoir à expliquer.
			</p>
			<div class="flex flex-wrap gap-12 my-24 px-9 justify-between">
				<img
					class="w-64 mx-auto"
					src="https://raw.githubusercontent.com/louiiuol/la-methode-claire/main/src/assets/img/illustrations/method-obstacles.png"
					alt="illustration des obstacles" />
				<img
					class="w-64 mx-auto"
					src="https://raw.githubusercontent.com/louiiuol/la-methode-claire/main/src/assets/img/illustrations/method-digrame.png"
					alt="illustration d'un digrame" />
			</div>
			<h2>
				La méthode : son fonctionnement <br />
				Rendre les choses simples… sans les simplifier
			</h2>
			<div class="relative">
				<span
					style="background-color: #fcdac6"
					class="absolute -left-12 top-2 block w-6 h-6 rounded-full"></span>
				<div class="flex-1">
					<p class="!mt-0">
						Une première semaine lors de laquelle on apprend trois choses
						fondamentales à nos élèves:
					</p>
					<ul>
						<li>
							- qu’ils possèdent déjà la compétence essentielle à leur entrée
							dans l’écrit: la capacité à fusionner deux sons ;
						</li>
						<li>
							- qu’ils sont capables, par leur propre raisonnement, d’apprendre
							à distinguer les consonnes des voyelles et à mémoriser ces
							dernières (a, e, i, o, u, y, é, è, ê) ;
						</li>
						<li>
							- que les mots sont fabriqués avec des syllabes que l’on peut
							rendre indépendantes les unes des autres à l’oral et donc
							manipuler.
						</li>
					</ul>
				</div>
			</div>
			<div class="relative">
				<span
					style="background-color: #ef7f96"
					class="absolute -left-12 top-2 block w-6 h-6 rounded-full"></span>
				<div class="flex-1">
					<p class="!mt-0">
						Les autres semaines-leçons qui fonctionnent toutes sur le même
						schéma :
					</p>
					<ul>
						<li>
							- la révision / récupération en mémoire quotidienne de tout ce qui
							a déjà été appris et expliqué les semaines précédentes ;
						</li>
						<li>
							- la présentation, le premier jour de la semaine de un, deux ou
							trois gra-phème(s)/digramme(s)/trigramme/ graphèmes complexes ;
						</li>
						<li>
							- la lecture de syllabes / logatomes / groupes nominaux / groupes
							verbaux / phrases / histoires (à partir de la semaine 11 seulement
							pour les histoires) n’utilisant que les graphèmes / digrammes /
							trigrammes / graphèmes complexes appris ;
						</li>
						<li>
							- un travail oral de compréhension des phrases / histoires lues ;
						</li>
						<li>
							- l’encodage quotidien de syllabes, mots, groupes nominaux et
							phrases.
						</li>
					</ul>
				</div>
			</div>
			<h2 class="mt-24">La méthode : son contenu</h2>
			<p>
				Pour chaque semaine, vous trouverez en pdf un script, une leçon, des
				exercices et une ou plusieurs affiches.
			</p>
		</div>

		<img
			class="max-w-2xl mx-auto w-full"
			src="https://raw.githubusercontent.com/louiiuol/la-methode-claire/main/src/assets/img/illustrations/method-content.png"
			alt="Illustration du contenu de la Méthode" />
	</div>
</section>
