<section class="bg-yellow-light">
	<div class="max-w-5xl mx-auto px-16 pt-4 pb-3">
		<img
			class="w-full max-w-xl mx-auto mb-24"
			src="https://raw.githubusercontent.com/louiiuol/la-methode-claire/main/src/assets/img/illustrations/method-intro.png"
			alt="illustration d'introduction de la méthode" />

		<div class="content">
			<h2>La méthode: ses fondations</h2>
			<div class="relative">
				<span
					style="background-color: #ac981a"
					class="absolute -left-12 top-2 block w-6 h-6 rounded-full"></span>
				<p class="flex-1 !mt-0">
					S’appliquer à rendre les enfants conscients de tout ce qu’ils savent
					déjà faire. L’immense majorité des enfants qui arrivent au CP portent
					déjà en eux l’essentiel des compétences nécessaires à leur entrée dans
					l’écrit puisqu’ils parlent et raisonnent. Apprendre à lire à des
					enfants a donc tout intérêt à commencer par leur faire prendre
					conscience de ce qu’ils savent déjà et à leur apprendre à l’utiliser.
				</p>
			</div>
			<div class="relative">
				<span
					style="background-color: #fcdac6"
					class="absolute -left-12 top-2 block w-6 h-6 rounded-full"></span>
				<p class="flex-1 !mt-0">
					Donner aux obstacles que tout enfant rencontre quand il apprend à lire
					et à écrire une place de choix. Omettre de parler d’obstacles à un
					enfant qui apprend à lire, c’est prendre le risque qu’à la première
					difficulté rencontrée il se convainque qu’il est bête.
				</p>
			</div>
			<div class="relative">
				<span
					style="background-color: #ef7e64"
					class="absolute -left-12 top-2 block w-6 h-6 rounded-full"></span>
				<p class="flex-1 !mt-0">
					Apprendre aux enfants à mémoriser ce qu’ils ont appris. Car mémoriser
					s’apprend. Apprenons-leur. Mémoriser commence par aller récupérer en
					mémoire ce que l’on a appris → on en fait un rituel : quinze minutes
					tous les jours, de la deuxième semaine de l’année scolaire à la
					dernière – et ce n’est pas une formule.
					<strong class="mt-4">
						C’est une condition sine qua non pour les embarquer tous.
					</strong>
				</p>
			</div>
			<div class="relative">
				<span
					style="background-color: #b2ced8"
					class="absolute -left-12 top-2 block w-6 h-6 rounded-full"></span>
				<p class="flex-1 !mt-0">
					Rendre concret pour les enfants qu’apprendre à lire et à écrire ne se
					fait pas en un jour et que c’est tous les jours que l’on progresse un
					peu. Cette lettre qu’ils avaient du mal à retenir avant-hier et hier,
					ils la connaissent aujourd’hui. Et la connaîtront encore demain. Et si
					après-demain ils l’avaient oubliée, ce qui est tout à fait possible
					car c’est ainsi que la mémoire fonctionne, on leur rappellera
					qu’avant-hier ils la connaissaient et qu’il n’y a pas de raison que ce
					qu’ils sont parvenus à mémoriser une fois ils ne le mémorisent de
					nouveau. Et de façon plus sûre à chaque fois. Il faut que nos élèves
					aient pleinement conscience de ce qu’ils sont en train d’apprendre. Et
					pour cela, rien de mieux que de leur dire ! Mais pour leur dire il
					faut le
					<strong>VOIR</strong>. Et c’est cela que cette méthode vise à faire
					naître chez nous enseignant ou parent : une aptitude à voir ce que,
					par excès de familiarité avec la langue écrite, nous ne voyons plus.
					Car c’est cela qui va aider les plus fragiles à sortir du sentiment
					qu’ils n’ont pas de pouvoir sur leurs apprentissages : leur faire
					<strong>expérimenter et donc prendre conscience</strong>
					de l’inverse.
				</p>
			</div>
			<p class="my-6">
				La complexité n’est pas là où l’on pourrait penser qu’elle est. Ce qui
				est complexe, c’est de réussir à voir en quoi des notions que nous
				avons, nous, adultes lettrés, totalement automatisées, posent des
				difficultés à tant d’enfants. Ce qui est le plus compliqué c’est d’avoir
				un regard neuf sur des principes que nous avons tellement automatisés
				que nous ne voyons même pas ce qu’il peut y avoir à expliquer.
			</p>
			<div class="flex flex-wrap gap-12 my-24 px-9 justify-between">
				<img
					class="w-64 mx-auto"
					src="https://raw.githubusercontent.com/louiiuol/la-methode-claire/main/src/assets/img/illustrations/method-obstacles.png"
					alt="illustration des obstacles" />
				<img
					class="w-64 mx-auto"
					src="https://raw.githubusercontent.com/louiiuol/la-methode-claire/main/src/assets/img/illustrations/method-digrame.png"
					alt="illustration d'un digrame" />
			</div>
			<h2>
				La méthode : son fonctionnement <br />
				Rendre les choses simples… sans les simplifier
			</h2>
			<div class="relative">
				<span
					style="background-color: #fcdac6"
					class="absolute -left-12 top-2 block w-6 h-6 rounded-full"></span>
				<div class="flex-1">
					<p class="!mt-0">
						Une première semaine lors de laquelle on apprend trois choses
						fondamentales à nos élèves:
					</p>
					<ul>
						<li>
							- qu’ils possèdent déjà la compétence essentielle à leur entrée
							dans l’écrit: la capacité à fusionner deux sons ;
						</li>
						<li>
							- qu’ils sont capables, par leur propre raisonnement, d’apprendre
							à distinguer les consonnes des voyelles et à mémoriser ces
							dernières (a, e, i, o, u, y, é, è, ê) ;
						</li>
						<li>
							- que les mots sont fabriqués avec des syllabes que l’on peut
							rendre indépendantes les unes des autres à l’oral et donc
							manipuler.
						</li>
					</ul>
				</div>
			</div>
			<div class="relative">
				<span
					style="background-color: #ef7f96"
					class="absolute -left-12 top-2 block w-6 h-6 rounded-full"></span>
				<div class="flex-1">
					<p class="!mt-0">
						Les autres semaines-leçons qui fonctionnent toutes sur le même
						schéma :
					</p>
					<ul>
						<li>
							- la révision / récupération en mémoire quotidienne de tout ce qui
							a déjà été appris et expliqué les semaines précédentes ;
						</li>
						<li>
							- la présentation, le premier jour de la semaine de un, deux ou
							trois gra-phème(s)/digramme(s)/trigramme/ graphèmes complexes ;
						</li>
						<li>
							- la lecture de syllabes / logatomes / groupes nominaux / groupes
							verbaux / phrases / histoires (à partir de la semaine 11 seulement
							pour les histoires) n’utilisant que les graphèmes / digrammes /
							trigrammes / graphèmes complexes appris ;
						</li>
						<li>
							- un travail oral de compréhension des phrases / histoires lues ;
						</li>
						<li>
							- l’encodage quotidien de syllabes, mots, groupes nominaux et
							phrases.
						</li>
					</ul>
				</div>
			</div>
			<h2 class="mt-24">La méthode : son contenu</h2>
			<p>
				Pour chaque semaine, vous trouverez en pdf un script, une leçon, des
				exercices et une ou plusieurs affiches.
			</p>
			<img
				class="max-w-2xl mx-auto w-full"
				src="https://raw.githubusercontent.com/louiiuol/la-methode-claire/main/src/assets/img/illustrations/method-content.png"
				alt="Illustration du contenu de la Méthode" />
			<h2>La Méthode : la progression</h2>
			<p>
				Le rythme est d’une leçon par semaine. Ainsi, aux vacances d’automne 15
				lettres/digrammes auront été vus, comme le recommande le guide orange.
				Nous avons en revanche fait le choix, mis à part pour les voyelles qui
				elles, sont vues toutes ensemble la première semaine, de ne voir qu’une
				lettre par semaine jusqu’aux vacances d’automne. Ces sept premières
				semaines sont consacrées à rendre la combinatoire (vraiment) tout
				terrain : les combinaisons délicates – dès lors qu’il s’agit de les
				décoder mais dont tous sont absolument capables puisqu’ils parlent –
				telles VC, VCC, VCV, CVCC, CVV, CCV sont donc intensément travaillées.
				Cela demande un investissement important de la part des élèves. Ce n’est
				donc pas le moment de surcharger leur mémoire de travail en leur
				demandant de mémoriser le nom et le son de plusieurs lettres par
				semaine.
			</p>

			@if (lessons$ | async; as lessons) {
			<table
				mat-table
				[dataSource]="lessons"
				class="w-fit !min-w-fit mx-auto mb-9">
				<!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
				<!-- Position Column -->
				<ng-container matColumnDef="index">
					<th mat-header-cell *matHeaderCellDef class="font-bold">
						Semaine / Leçon
					</th>
					<td
						mat-cell
						*matCellDef="let element"
						[style]="{color: element.color}"
						class="!text-center font-bold">
						{{element.order + 1}}
					</td>
				</ng-container>
				<!-- Name Column -->
				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef class="font-bold">
						Graphème(s)
					</th>
					<td
						mat-cell
						*matCellDef="let element"
						class="text-lg"
						[style]="{color: element.color}">
						@for (phoneme of element.phonemes; track phoneme) {
						<span class="px-2">
							@if (phoneme.endOfWord) {
							<span>-</span>
							} {{phoneme.name | uppercase}} @if (phoneme.sounds; as sounds) {
							@for (sound of sounds; track sound) {
							<span class="px-1 text-xs"> [{{ sound }}] </span>
							} } @if (phoneme.info) {
							<span class="pl-1 text-sm"> ({{ phoneme.info }}) </span>
							}
						</span>
						}
					</td>
				</ng-container>
				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>
			}

			<h3 class="my-3 font-bold">Précisions importantes</h3>
			<div class="relative">
				<span
					style="background-color: #b2ced8"
					class="absolute -left-12 top-2 block w-6 h-6 rounded-full"></span>
				<div class="flex-1">
					<p class="!mt-0">
						Pas de semaine de révision réservée dans la mesure où ce travail de
						révision est quotidien. Il est intégré à un rituel par lequel débute
						tous les jours la séance de lecture (cf scripts).
					</p>
				</div>
			</div>
			<div class="relative">
				<span
					style="background-color: #ac981a"
					class="absolute -left-12 top-2 block w-6 h-6 rounded-full"></span>
				<div class="flex-1">
					<p class="!mt-0">
						Le k, le q, le œ et le w n’apparaissent dans aucune leçon et c’est
						volontaire ! Nous voyons le qu (qui, que, qu’) tous les jours quand
						nous relisons/écrivons les mots-outils et le k est si rare en
						français que la balance avantage (ils connaissent le k) /
						inconvénient (dès qu’ils le connaissent ils oublient le c et
						encodent tous les [k] avec un…k !) penche nettement du côté "pas de
						leçon sur le k" et "mémorisation de l’orthographe des mots courants
						qui le contiennent". C’est un peu radical, je sais, mais qu’est-ce
						que ça fonctionne bien ! Ainsi écrira-t-on sur notre paperboard –
						qui fait office de carnet de vocabulaire commun à toute la classe,
						consultable à tout moment et dont les mots qui y figurent sont
						l’objet de très fréquentes récupérations en mémoire – et au fur et à
						mesure que nous les rencontrerons les mots qui contiennent un k.
					</p>
				</div>
			</div>

			<div class="relative">
				<span
					style="background-color: #ef7f96"
					class="absolute -left-12 top-2 block w-6 h-6 rounded-full"></span>
				<div class="flex-1">
					<p class="!mt-0">
						Pour <strong></strong> <strong>œ</strong> et <strong>w</strong>,
						c’est leur fonctionnement aléatoire qui m’a convaincue de ne pas en
						faire l’objet d’une leçon mais de les ‘paperboarder’ également. Des
						mots assez courants tels
						<strong>
							sœur, cœur, œuf, œil, bœuf, nœud / wagon, clown, kiwi, cow-boy,
							bowling, halloween, sandwich.
						</strong>
					</p>
				</div>
			</div>
			<div class="relative">
				<span
					style="background-color: #fcdac6"
					class="absolute -left-12 top-2 block w-6 h-6 rounded-full"></span>
				<div class="flex-1">
					<p class="!mt-0">
						Certaines leçons qui apparaissent dans tous les manuels de lecture
						n’apparaissent pas ici. Il s’agit de :
					</p>
					<ul>
						<li>
							- l’articulation de deux consonnes qui se suivent comme
							<strong>
								tr, br, bl, dr, cr, cl, pr, pl, fr, fl, vr, vl, gr, gl </strong
							>;
						</li>
						<li>- l’articulation de deux voyelles qui se suivent ;</li>
						<li>
							- les combinaisons faisant apparaître un e devant deux consonnes
							identiques ou non.
						</li>
					</ul>
				</div>
			</div>

			<p>
				Si elles n’apparaissent pas dans
				<strong>La Méthode claire</strong> c’est que de la même façon que nous
				ne programmons pas de semaines de révision mais révisons tout tous les
				jours, nous ne programmons pas de leçons sur des combinaisons
				particulières mais les travaillons toutes très régulièrement. Depuis le
				tout début de l’année pour le e suivi de deux consonnes et les suites de
				voyelles et à partir de la leçon 6 pour les suites de consonnes. Pour
				les deux derniers cas, il n’y a rien à comprendre mais tout à articuler
				: rien de mieux pour cela qu’un entraînement régulier.
			</p>
		</div>
	</div>
</section>
