<section class="bg-yellow-light">
	<div class="mx-auto px-16 pt-4 pb-3 max-w-5xl">
		<img
			class="mx-auto mb-6 w-full max-w-xl"
			src="https://raw.githubusercontent.com/louiiuol/la-methode-claire/main/src/assets/img/illustrations/method-intro.png"
			alt="illustration d'introduction de la méthode" />

		<div class="content">
			<h1
				class="mt-0 mb-6 font-bold text-4xl text-center text-primary md:text-5xl md:leading-relaxed">
				La méthode: sept piliers qui font la différence
			</h1>

			<p>
				La Méthode claire répond de bout en bout aux programmes annoncés pour la
				rentrée 2024 … comme l’immense majorité des méthodes actuellement sur le
				marché. <br />
				Et, comme l’immense majorité des méthodes, La Méthode claire part de la
				lettre pour aller vers le son, fait lire et écrire aux enfants des
				syllabes, des mots, des phrases et des textes.
			</p>
			<p>
				<strong>
					Alors pourquoi La Méthode claire (LMC) plutôt qu’une autre ?
				</strong>
				<br />
				Parce qu’elle répond aux obstacles que les enfants rencontrent – au-delà
				de ceux que représentent la compréhension du principe alphabétique et la
				mémorisation des correspondances entre les lettres et les sons –
				lorsqu’ils apprennent à lire et à écrire le français comme aucune autre
				ne le fait.
			</p>
			<p>
				Ainsi, là où les autres méthodes aménagent leurs supports afin d’en
				faciliter l’accès aux plus fragiles, (en grisant certaines lettres, en
				marquant les frontières syllabiques par des arcs ou des jeux de couleur,
				en excluant des listes de mots à lire ceux dont les combinaisons
				contreviennent aux règles apprises, en donnant à lire à certains des
				versions simplifiés des textes, etc.), LMC part du principe que TOUS les
				enfants sont capables de dépasser les obstacles qu’ils rencontrent quand
				ils apprennent à lire et à écrire à partir du moment où on leur apprend
				à le faire.
			</p>
			<p>Elle prend appui pour cela sur sept piliers.</p>
			<h2>
				<span class="pr-2" style="color: #ac981a">1.</span>Changer son point de
				vue d’adulte lettré sur la langue écrite et son apprentissage.
			</h2>
			<p>
				Le français écrit regorge d’obstacles pour qui apprend à le lire et à
				l’écrire. La familiarité que l’on entretient avec lui depuis de
				nombreuses années peut nous empêcher de les voir et donc de saisir
				combien ils entravent les apprentissages de nos élèves.
			</p>
			<h2>
				<span class="pr-2" style="color: #fcdac6">2.</span>Donner à tous les
				enfants les moyens d’entrer dans la combinatoire…
			</h2>
			<p>
				Comment ? En <strong>apprenant</strong> à tous les enfants à combiner !
				<br />
				Car il ne suffit pas toujours d’avoir compris que l’écrit code l’oral,
				qu’à chaque lettre correspond un son et que pour lire il faut fusionner
				les sons pour parvenir à le faire. Nous sommes très nombreux à passer à
				côté de ce fait – pourtant propre à retarder l’entrée des enfants dans
				le décodage de plusieurs semaines voire plusieurs mois – persuadés que
				nous sommes que tous nos élèves savent déjà fusionner… puisqu’ils
				parlent.
			</p>
			<p>
				Ce qui est très juste ! Tous les enfants, s’ils parlent, fusionnent.
				Mais ce que l’on oublie c’est que fusionner des sons naturellement, sans
				y penser (répéter la syllabe <strong class="italic">ma</strong> par
				exemple) et fusionner des sons volontairement, sur commande donc
				(fusionner <strong class="italic">mmm</strong> et
				<strong class="italic">aaa</strong> pour faire
				<strong class="italic">ma</strong>), ce n’est pas la même chose.
				<br />Si l’on veut réellement donner à tous les enfants les moyens
				d’entrer dans la combinatoire, c’est donc sur la fusion orale et
				volontaire de deux sons qu’il faut se pencher et surtout sur sa mise en
				œuvre par chacun de nos élèves. Parce qu’ils peuvent certes au sein de
				la classe entendre la fusion exécutée par d’autres
				<strong>
					mais elle ne deviendra réellement intelligible pour eux que lorsqu’ils
					la produiront eux-mêmes.
				</strong>
				Apprenons-leur à la produire, donc.
			</p>
			<h2>
				<span class="pr-2" style="color: #ef7e64">3.</span>Apprendre aux enfants
				à distinguer les voyelles des consonnes.
			</h2>

			<p>
				L’automatisation de la distinction entre voyelle et consonne est
				fondamentale car fondatrice. C’est en effet sur elle que l’on va prendre
				appui au cours de l’année pour faire entrer les enfants dans la
				compréhension et l’application de nombre de règles de fonctionnement du
				français écrit.
			</p>

			<h2>
				<span class="pr-2" style="color: #b2ced8">4.</span>Rendre la
				combinatoire tout terrain pour tous !
			</h2>
			<p>
				Faire travailler intensément et dès les toutes premières semaines, le
				décodage des combinaisons classiques cv, vc (c pour consonne et v pour
				voyelle) <strong>mais également</strong> celui des combinaisons plus
				complexes cvc, vcc, cvcc, ccv, vcv. <br />
				Retarder cet apprentissage pour nos élèves, sous prétexte que l’on
				pourrait perdre les plus fragiles d’entre eux, c’est mettre en péril les
				chances de ces derniers d’apprendre à lire aussi bien que les autres.
				<br />
				Cette crainte n’est en outre nullement justifiée : les enfants peuvent
				tous et très vite parvenir à articuler ces combinaisons puisqu’ils le
				font tout le temps quand ils parlent ! Il faut donc le leur faire savoir
				et les entraîner à le faire quotidiennement. Cette maîtrise est
				essentielle car la mémoire de travail est ainsi faite qu’elle ne peut
				gérer plusieurs obstacles à la fois. Si l’on veut que nos élèves soient
				à la hauteur des obstacles à venir, il faut libérer de la place dans la
				mémoire de travail.
			</p>
			<h2>
				<span class="pr-2" style="color: #fcdac6">5.</span>Faire encoder et
				écrire tous les jours et beaucoup.
			</h2>
			<p>
				Le temps alloué à l’apprentissage de la lecture et de l’écriture à
				l’école n’étant pas infini, il est essentiel de l’utiliser au mieux pour
				faire progresser nos élèves. Or, encoder est l’exercice le plus à même
				de les aider à discriminer de plus en plus finement les sons qui
				composent le langage – tout en comprenant l’intérêt qu’il y a à le faire
				car pourquoi s’exercer à entendre les sons qui composent les mots de sa
				langue si ce n’est pour les écrire ? – et à mettre en mémoire les
				graphèmes appris. <br />
				Quant aux dictées quotidiennes de phrases, elles vont permettre aux
				enfants d’apprendre à séparer les mots par des espaces, à ne plus se
				faire avoir par les liaisons, à utiliser l’apostrophe et à se poser des
				questions d’ordre orthographique. <br />
				Plus on passera de temps à faire encoder et écrire nos élèves, plus ils
				progresseront. Faire disparaître les fichiers d’exercices de nos classes
				peut donc être une excellente idée ! Aucun exercice sur aucun fichier ne
				pourra jamais rivaliser avec ce qu’une ardoise, un feutre et la voix du
				maître permet d’apprendre à nos élèves…
			</p>
			<h2>
				<span class="pr-2" style="color: #ef7f96">6.</span>Apprendre aux élèves
				à mémoriser.
			</h2>
			<p>
				C’est en allant rechercher régulièrement en mémoire ce que l’on a appris
				que l’on finit par le mémoriser sur le long terme. Dans lmc, la
				récupération en mémoire des graphèmes et notions qui ont été abordées
				les jours, semaines et mois précédents est enseignée et ritualisée.
				C’est une condition <em>sine qua non</em> pour embarquer tous nos élèves
				: les enfants ne pourront réfléchir au fonctionnement de leur langue si
				les éléments dont ils ont besoin pour le faire ne sont pas immédiatement
				disponibles en mémoire.
			</p>
			<h2>
				<span class="pr-2" style="color: #ac981a">7.</span>Transformer les
				obstacles internes à la langue en objets d’apprentissage.
			</h2>
			<p>
				Ce sont les six piliers précédents qui rendent possible ce septième,
				central. <br />
				Tout ce qui met nos élèves en difficulté est relevé, expliqué et
				travaillé. <br />
				Le français est difficile mais d’une façon bien plus sympathique que
				l’anglais : quand il cesse d’être transparent (on dit qu’une langue est
				transparente quand à une lettre correspond toujours le même son ou quand
				à un son correspond(ent) toujours la ou les même(s) lettre(s)) il répond
				néanmoins à des règles. Des règles qui peuvent très bien s’enseigner et
				qui, quand elles le sont, donnent aux enfants tous les moyens de leurs
				apprentissages. Ces règles vont permettre aux enfants à la fois de
				comprendre ce qui les met en difficulté et leur permettre de le
				dépasser. <br />
				Ainsi enseigne-t-on aux enfants pourquoi un
				<strong class="italic">a</strong> suivi d’un
				<strong class="italic">n</strong> fait parfois un seul son, parfois non,
				pourquoi dans tel mot le <strong class="italic">e</strong> fait le son
				[e] alors qu’il fait [è] dans tel autre, pourquoi dans la séquence
				<em>un ami</em> il faut écrire <em>ami</em> quand c’est
				<strong>nami</strong> que l’on entend, pourquoi on peut orthographier
				tel son dans tel mot sans se poser aucune question alors que pour tel
				autre son, il va falloir réfléchir, etc. <br />
				Les enfants vont alors comprendre que la langue est peut-être compliquée
				mais qu’il existe des règles qu’il est possible de s’approprier et sur
				lesquelles on peut compter pour progresser. <br />
				Et nous, enseignants, allons constater qu’il est possible d’aider nos
				élèves à progresser bien au-delà de ce que l’on avait jusqu’alors cru
				possible…
				<br />Et ça, ça n’est jamais désagréable.
			</p>
			<img
				class="mx-auto w-64"
				src="https://raw.githubusercontent.com/louiiuol/la-methode-claire/main/src/assets/img/illustrations/method-obstacles.png"
				alt="illustration des obstacles" />
			<h2>La méthode : sa progression</h2>
			<p>
				Le rythme est d’une leçon par semaine. Ainsi, aux vacances d’automne 15
				lettres/digrammes auront été vus, comme le recommande le guide orange.
				Nous avons en revanche fait le choix, mis à part pour les voyelles qui
				elles, sont vues toutes ensemble la première semaine, de ne voir qu’une
				lettre par semaine jusqu’aux vacances d’automne. Ces sept premières
				semaines sont consacrées à rendre la combinatoire (vraiment) tout
				terrain : les combinaisons délicates – dès lors qu’il s’agit de les
				décoder mais dont tous sont absolument capables puisqu’ils parlent –
				telles VC, VCC, VCV, CVCC, CVV, CCV sont donc intensément travaillées.
				Cela demande un investissement important de la part des élèves. Ce n’est
				donc pas le moment de surcharger leur mémoire de travail en leur
				demandant de mémoriser le nom et le son de plusieurs lettres par
				semaine.
			</p>

			@if (lessons$ | async; as lessons) {
			<table
				mat-table
				aria-describedby="Tableau des leçons de la méthode"
				[dataSource]="lessons"
				class="mx-auto mb-9 w-fit !min-w-fit">
				<!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
				<!-- Position Column -->
				<ng-container matColumnDef="index">
					<th mat-header-cell *matHeaderCellDef class="font-bold">
						Semaine / Leçon
					</th>
					<td
						mat-cell
						*matCellDef="let element"
						[style]="{color: element.color}"
						class="font-bold !text-center">
						{{element.order + 1}}
					</td>
				</ng-container>
				<!-- Name Column -->
				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef class="font-bold">
						Graphème(s)
					</th>
					<td
						mat-cell
						*matCellDef="let element"
						class="text-lg"
						[style]="{color: element.color}">
						@for (phoneme of element.phonemes; track phoneme) {
						<span class="px-2">
							@if (phoneme.endOfWord) {
							<span>-</span>
							} {{phoneme.name | uppercase}} @if (phoneme.sounds; as sounds) {
							@for (sound of sounds; track sound) {
							<span class="px-1 text-xs"> [{{ sound }}] </span>
							} } @if (phoneme.info) {
							<span class="pl-1 text-sm"> ({{ phoneme.info }}) </span>
							}
						</span>
						}
					</td>
				</ng-container>
				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>
			}

			<h3 class="my-3 font-bold">Précisions importantes</h3>
			<div class="relative">
				<span
					style="color: #b2ced8"
					class="block top-2 -left-12 absolute rounded-full w-6 h-6"></span>
				<div class="flex-1">
					<p class="!mt-0">
						Pas de semaine de révision réservée dans la mesure où ce travail de
						révision est quotidien. Il est intégré à un rituel par lequel débute
						tous les jours la séance de lecture (cf scripts).
					</p>
				</div>
			</div>
			<div class="relative">
				<span
					style="color: #ac981a"
					class="block top-2 -left-12 absolute rounded-full w-6 h-6"></span>
				<div class="flex-1">
					<p class="!mt-0">
						Pas de leçon d’orthographe décrochée. L’orthographe lexicale est
						travaillée de deux façons au cours des séances quotidiennes
						d’écriture. 1/ Les enfants sont systématiquement invités à (se)
						poser la question de l’orthographe des sons dont ils ont appris
						qu’ils pouvaient s’encoder de différentes façons. Il s’agit ici de
						les faire entrer petit à petit dans un questionnement
						orthographique. De porter à leur conscience que certains mots
						(beaucoup) qu’on leur demande d’écrire contiennent des sons qu’ils
						peuvent savoir encoder mais pas orthographier. 2/ Les mots les plus
						courants qui contiennent soit des doubles consonnes, soit des
						lettres muettes soit des irrégularités sont répertoriés sur le
						paperboard de la classe et utilisés très régulièrement afin d’aider
						les enfants à les mémoriser. (cf scripts)
						<br />L’orthographe grammaticale est travaillée quotidiennement lors
						des leçons de lecture et de la production écrite dictée. (cf
						scripts)
					</p>
				</div>
			</div>

			<div class="relative">
				<span
					style="color: #ef7f96"
					class="block top-2 -left-12 absolute rounded-full w-6 h-6"></span>
				<div class="flex-1">
					<p class="!mt-0">
						Les <strong>w</strong> et le <strong>ch</strong> (oralisé [k])
						n’apparaissent dans aucune leçon. Rares, au fonctionnement aléatoire
						pour le <strong>w</strong>, nous avons fait le choix d’écrire les
						mots dans lesquels ils apparaissent sur notre paperboard au fur et à
						mesure où nous les rencontrons. (cf scripts)
					</p>
				</div>
			</div>
			<div class="relative">
				<span
					style="color: #fcdac6"
					class="block top-2 -left-12 absolute rounded-full w-6 h-6"></span>
				<div class="flex-1">
					<p class="!mt-0">
						Certaines leçons qui apparaissent dans tous les manuels de lecture
						n’apparaissent pas ici. Il s’agit de :
					</p>
					<ul>
						<li>
							- l’articulation de deux consonnes qui se suivent comme
							<strong>
								tr, br, bl, dr, cr, cl, pr, pl, fr, fl, vr, vl, gr, gl </strong
							>;
						</li>
						<li>- l’articulation de deux voyelles qui se suivent ;</li>
						<li>
							- les combinaisons faisant apparaître un e devant deux consonnes
							identiques ou non.
						</li>
					</ul>
				</div>
			</div>

			<p>
				Si elles n’apparaissent pas dans
				<strong>La Méthode claire</strong> c’est que de la même façon que nous
				ne programmons pas de semaines de révision mais révisons tout tous les
				jours, nous ne programmons pas de leçons sur des combinaisons
				particulières mais les travaillons toutes très régulièrement. Depuis le
				tout début de l’année pour le e suivi de deux consonnes et les suites de
				voyelles et à partir de la leçon 6 pour les suites de consonnes. Pour
				les deux derniers cas, il n’y a rien à comprendre mais tout à articuler
				: rien de mieux pour cela qu’un entraînement régulier.
			</p>
		</div>
		<img
			class="mx-auto w-64"
			src="https://raw.githubusercontent.com/louiiuol/la-methode-claire/main/src/assets/img/illustrations/method-digrame.png"
			alt="illustration d'un digrame" />
		<h2 class="mt-24">La méthode : son contenu</h2>
		<p>
			Pour chaque semaine, vous trouverez en pdf un script, une leçon, des
			exercices et une ou plusieurs affiches.
		</p>
		<img
			class="mx-auto w-full max-w-2xl"
			src="https://raw.githubusercontent.com/louiiuol/la-methode-claire/main/src/assets/img/illustrations/method-content.png"
			alt="Illustration du contenu de la Méthode" />
	</div>
</section>
