<app-card
	class="w-full max-w-xl animate__animated animate__fadeInDown"
	cardTitle="Connectez-vous">
	<app-form
		action="se connecter"
		[resettable]="false"
		[submitted]="logIn"
		[fields]="fields" />
	<ng-template #cardFooter>
		<div class="flex flex-wrap justify-center">
			<a mat-button color="accent" href="/forgot-password">
				Mot de passe oublié ?
			</a>
			<p
				class="flex justify-center items-center gap-3 !my-1 w-full text-center text-sm italic">
				Pas encore de compte ?
				<a mat-button color="primary" href="/register">S'inscrire</a>
			</p>
		</div>
	</ng-template>
</app-card>
