<mat-toolbar class="gap-3 h-16 justify-start items-center mat-elevation-z1">
	<app-icon class="w-16" svg="logo" />

	<app-button color="primary" href="/app/dashboard" label="Tableau de bord" />

	<span class="flex-1"></span>

	<app-button
		[matMenuTriggerFor]="userMenu"
		class="bg-primary rounded-full leading-none"
		type="icon">
		<span class="text-white">
			{{ currentUser?.initials?.toLocaleUpperCase() }}
		</span>
	</app-button>
	<mat-menu #userMenu="matMenu">
		<app-button type="menu-item" href="/app/profile" label="profil">
			<app-icon>person</app-icon>
		</app-button>

		<app-button
			type="menu-item"
			color="warn"
			(click)="logOut()"
			label="se déconnecter">
			<app-icon>logout</app-icon>
		</app-button>
	</mat-menu>
</mat-toolbar>
