<app-card
	*ngIf="!emailSent; else: emailSentTemplate"
	class="w-full max-w-3xl animate__animated animate__fadeInDown"
	cardTitle="Mot de passe oublié">
	<app-form
		[submitted]="forgotPassword"
		[fields]="fields"
		(sent)="emailSent = true" />
	<ng-template #cardFooter>
		<div>
			<p class="flex items-center gap-3 mt-1 w-full text-center text-sm italic">
				Pas encore de compte ?
				<app-button color="primary" href="/register" label="S'inscrire" />
			</p>
			<app-button color="accent" href="/login" label="se connecter" />
		</div>
	</ng-template>
</app-card>
<ng-template #emailSentTemplate>
	<app-card
		class="max-w-lg"
		title="Un email vous a été envoyé pour réinitialiser votre mot de passe."
		subtitle="Consultez la boîte de réception de votre messagerie électronique et cliquez sur le lien présent dans l'email pour créer un nouveau mot de passe.">
		<img
			class="max-w-xs"
			src="https://raw.githubusercontent.com/louiiuol/la-methode-claire/main/src/assets/img/email_sent.png"
			alt="email de vérification envoyé" />
		<app-button label="retourner à la connection" type="raised" href="/login" />
	</app-card>
</ng-template>
