<app-card
	*ngIf="!emailSent; else: emailSentTemplate"
	class="w-full max-w-3xl animate__animated animate__fadeInDown"
	title="Oublié votre mot de passe ?"
	subtitle="Recevez un lien sur votre adresse email pour réinitialiser votre mot de passe">
	<app-form
		[submitted]="forgotPassword"
		[fields]="fields"
		(sent)="emailSent = true" />
	<ng-template #cardFooter>
		<div>
			<p class="flex items-center gap-3 mt-1 w-full text-center text-sm italic">
				Pas encore de compte ?
				<app-button color="primary" href="/register" label="S'inscrire" />
			</p>
			<app-button color="accent" href="/login" label="se connecter" />
		</div>
	</ng-template>
</app-card>
<ng-template #emailSentTemplate>
	<app-card
		title="Vérifiez votre boîte mail"
		subtitle="Afin de vérifier votre compte, nous vous avons envoyé un email de vérification.">
		<img
			class="max-w-xs"
			src="https://raw.githubusercontent.com/louiiuol/la-methode-claire/main/src/assets/img/email_sent.png"
			alt="email de vérification envoyé" />
	</app-card>
</ng-template>
