<app-card
	class="w-full max-w-3xl"
	title="views.public.pages.forgot_password.title"
	subtitle="views.public.pages.forgot_password.subtitle">
	<app-form [submitted]="forgotPassword" [fields]="fields" />
	<ng-template #cardFooter>
		<div class="text-center">
			<app-button
				color="accent"
				href="/login"
				label="core.actions.login.action" />
			<p class="mt-2">
				{{'modules.account.no_account' | translate}}
				<app-button href="/register" label="core.actions.register.action" />
			</p>
		</div>
	</ng-template>
</app-card>
