<mat-card class="mx-auto w-fit px-8 pb-8 max-w-full">
	<mat-card-header *ngIf="title || subtitle" class="text-primary !pt-8 !pb-2">
		<mat-card-title
			class="text-center !text-2xl text-primary text-balance"
			*ngIf="!!title">
			{{ title }}
		</mat-card-title>
		<mat-card-subtitle
			class="text-center text-balance !text-lg !mt-2"
			*ngIf="!!subtitle">
			{{ subtitle }}
		</mat-card-subtitle>
	</mat-card-header>

	<mat-card-content
		class="relative !px-4 !pt-6 !flex flex-col items-center justify-start !h-fit"
		style="min-width: 200px; min-height: 50px">
		<ng-content></ng-content>
	</mat-card-content>

	<mat-card-actions *ngIf="!!cardFooter" class="justify-evenly !px-2 !pb-8">
		<ng-container [ngTemplateOutlet]="cardFooter"></ng-container>
	</mat-card-actions>
</mat-card>
