<h1 class="text-2xl text-center mt-4 mb-6 text-primary">
	Mise à jour de vos informations
</h1>
<mat-accordion class="block max-w-3xl mx-auto">
	<mat-expansion-panel expanded>
		<mat-expansion-panel-header>
			<mat-panel-title> Informations personnelles </mat-panel-title>
		</mat-expansion-panel-header>
		<app-form
			*ngIf="model$ | async as model"
			[model]="model.value"
			action="Mettre à jour"
			[submitted]="updateProfile"
			[fields]="profileFields" />
	</mat-expansion-panel>
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title> Mot de passe </mat-panel-title>
		</mat-expansion-panel-header>

		<app-form
			action="Mettre à jour"
			[submitted]="updatePassword"
			[fields]="passwordFields"
			[validators]="passwordValidators" />
	</mat-expansion-panel>
</mat-accordion>
