<form
	*ngIf="form && formFields?.length; else loadingTemplate"
	[formGroup]="form"
	(ngSubmit)="onSubmit(formModel)"
	class="form-grid grid px-2 py-1 md:px-6 md:py-2">
	<app-message
		severity="error"
		*ngFor="let message of errorMessages"
		[summary]="message"
		[closable]="true" />
	<formly-form
		[form]="form"
		[options]="options"
		[fields]="formFields ?? []"
		[model]="formModel" />
	<footer class="mt-4 flex w-full justify-center gap-5">
		<button
			type="button"
			mat-stroked-button
			(click)="reset()"
			[disabled]="pristine()"
			color="primary">
			Réinitialiser
		</button>
		<button
			mat-flat-button
			color="primary"
			type="submit"
			matTooltip="Le formulaire est invalide"
			[matTooltipDisabled]="form.valid"
			[disabled]="!isValidForm()">
			{{ action }}
		</button>
	</footer>
</form>
<ng-template #loadingTemplate>
	<app-loader></app-loader>
</ng-template>
