<app-input-search
	[defaultField]="searchFieldActive"
	[isLoading]="loading"
	[fields]="searchFields" />
<button
	mat-icon-button
	[matMenuTriggerFor]="filtersMenu"
	matTooltip="Filtres avancés">
	<mat-icon color="primary">filter_list</mat-icon>
</button>
<button
	mat-icon-button
	matTooltip="Réinitialiser les filtres"
	type="icon"
	(click)="resetFilters()">
	<mat-icon color="warn">restart_alt</mat-icon>
</button>

<mat-menu #filtersMenu="matMenu" xPosition="before">
	<div mat-menu-item (click)="$event.stopPropagation()">
		<mat-checkbox [(ngModel)]="hideAdvancedFilters" labelPosition="after">
			Voir tous les membres
		</mat-checkbox>
	</div>

	@if (!hideAdvancedFilters) {
		<div>
			<div mat-menu-item (click)="$event.stopPropagation()">
				<mat-checkbox
					[(ngModel)]="advancedFilters.active"
					labelPosition="after"
					[disabled]="loading">
					Actifs
				</mat-checkbox>
			</div>
			<div mat-menu-item (click)="$event.stopPropagation()">
				<mat-checkbox
					class="example-margin"
					[(ngModel)]="advancedFilters.subscribed"
					labelPosition="after"
					[disabled]="loading">
					Abonnés
				</mat-checkbox>
			</div>
		</div>
	}
	<div mat-menu-item>
		<div class="flex justify-center w-full">
			<button
				mat-raised-button
				class="mx-auto"
				(click)="emitRequest()"
				color="primary"
				label="Appliquer les filtres"></button>
		</div>
	</div>
</mat-menu>
