<app-input-search
	[defaultField]="searchFieldActive"
	[isLoading]="loading"
	[fields]="searchFields" />
<app-button
	type="icon"
	[matMenuTriggerFor]="filtersMenu"
	matTooltip="Filtres avancés">
	<app-icon color="primary">filter_list</app-icon>
</app-button>
<app-button
	matTooltip="Réinitialiser les filtres"
	type="icon"
	(click)="resetFilters()">
	<app-icon color="warn">restart_alt</app-icon>
</app-button>

<mat-menu #filtersMenu="matMenu" xPosition="before">
	<div mat-menu-item (click)="$event.stopPropagation()">
		<mat-checkbox [(ngModel)]="hideAdvancedFilters" labelPosition="after">
			Voir tous les membres
		</mat-checkbox>
	</div>

	<div *ngIf="!hideAdvancedFilters">
		<div mat-menu-item (click)="$event.stopPropagation()">
			<mat-checkbox
				[(ngModel)]="advancedFilters.active"
				labelPosition="after"
				[disabled]="loading">
				Actifs
			</mat-checkbox>
		</div>
		<div mat-menu-item (click)="$event.stopPropagation()">
			<mat-checkbox
				class="example-margin"
				[(ngModel)]="advancedFilters.subscribed"
				labelPosition="after"
				[disabled]="loading">
				Abonnés
			</mat-checkbox>
		</div>
	</div>
	<div mat-menu-item>
		<div class="flex justify-center w-full">
			<app-button
				class="mx-auto"
				type="raised"
				(click)="emitRequest()"
				color="primary"
				label="Appliquer les filtres" />
		</div>
	</div>
</mat-menu>
