<ng-container *ngIf="lessons$ | async as lessons">
	<app-progress-bar
		class="rounded-t-xl mat-elevation-z2"
		[currentLesson]="currentLesson"
		[hasValidSubscription]="hasValidSubscription"
		[lessons]="lessons"
		(selectedLesson)="currentLesson = $event" />
	<app-course-viewer
		style="height: 80vh"
		class="rounded-b-xl overflow-hidden mat-elevation-z2 block"
		[currentLessonIndex]="currentLesson"
		[course]="lessons[currentLesson]"
		(nextLesson)="currentLesson = $event" />
</ng-container>
