<!-- <header
	style="height: calc(100dvh - 64px)"
	class="relative flex flex-col justify-center gap-2 bg-primary pb-32 sm:pb-16 w-full text-center text-white text-xl md:text-3xl lg:text-4xl xs:text-2xl">
	<span class="leading-loose animate__animated animate__fadeInDown">
		La Méthode claire est
		<b
			class="inline-block font-semibold text-accent animate__animated animate__delay-1s animate__pulse">
			claire </b
		>,
	</span>
	<span
		class="leading-loose animate__animated animate__delay-1s animate__fadeInLeft">
		parce qu'elle ne se contente pas <br />
		de vous dire
		<b
			class="inline-block font-semibold text-accent animate__animated animate__delay-2s animate__pulse">
			quoi faire </b
		>,
	</span>
	<span
		class="leading-loose animate__animated animate__delay-2s animate__fadeInLeft">
		mais aussi
		<b
			class="inline-block font-semibold text-accent animate__animated animate__delay-3s animate__pulse">
			comment faire
		</b>
	</span>
	<span
		class="leading-loose animate__animated animate__delay-3s animate__fadeInUp">
		et surtout, <br />
		<b
			class="inline-block font-semibold text-accent animate__animated animate__delay-4s animate__heartBeat">
			elle le fait avec vous !
		</b>
	</span>
</header> -->

<h1
	class="bg-yellow-light px-12 md:px-24 pt-6 pb-12 text-5xl text-center leading-loose">
	Devenez un <strong class="text-6xl text-accent">expert</strong> <br />
	en apprentissage de la lecture
</h1>

<!-- What is Method -->
<section
	id="method"
	class="flex [&>*:nth-child(even)]:flex-row-reverse flex-col gap-16 bg-white mx-auto px-6 sm:px-10 py-6 pb-24 max-w-4xl">
	@for (explanation of methodExplanations; track explanation) {
	<article
		class="flex flex-wrap justify-center items-center gap-10 px-5 w-full">
		<div>
			<span [style]="{color: explanation.color}" class="text-5xl">
				{{explanation.index}}
			</span>
			<h3 class="mb-3 text-3xl">{{explanation.title}}</h3>
			<p class="max-w-xs text-xl">{{explanation.description}}</p>
		</div>
		<img
			class="w-2/3 md:w-1/3 min-w-[20rem]"
			[src]="'https://raw.githubusercontent.com/louiiuol/la-methode-claire/main/src/assets/img/illustrations/' + explanation.name + '.png'"
			[alt]="'Illustration à propos de ' +explanation.name" />
	</article>
	}
</section>

<!-- Why this Method -->
<section class="bg-yellow-light py-8">
	<app-card
		cardTitle="Et au fait pourquoi une méthode en ligne ?"
		class="bg-accent max-w-xl">
		<ul class="list-disc">
			<li>
				Parce qu'étant mise en pratique par Claire et les enseignants qui
				travaillent avec elle, <strong>elle ne cesse de s'enrichir</strong>.
			</li>
			<li>
				Parce qu'elle donne un <strong>accès facile</strong> à la dernière
				version de la méthode.
			</li>
			<li>
				Parce qu'elle permet une <strong>interaction avec les abonnés</strong>.
				Et ainsi de se sentir moins seuls!
			</li>
		</ul>

		<p>
			Une question ?
			<a
				class="font-bold text-primary underline"
				href="mailto:methode.claire@gmail.com">
				methode.claire&#64;gmail.com
			</a>
		</p>
	</app-card>
</section>

<!-- CTA Register -->
<section class="bg-accent">
	<div class="mx-auto p-6 max-w-xl">
		<h2>Envie de découvrir la méthode ?</h2>
		<p class="text-2xl text-center">
			Vous pouvez dès à présent créer un compte <b>gratuitement</b> et découvrir
			la méthode.
		</p>
		<div class="flex flex-wrap justify-evenly gap-3 pb-6">
			<app-button
				class="flex-1"
				href="/method"
				color="primary"
				label="En savoir plus" />
			<app-button
				class="flex-1"
				href="/about"
				color="primary"
				label="Qui est Claire ?" />
			<app-button
				class="w-full"
				type="raised"
				color="primary"
				href="/register"
				label="Créer votre compte" />
		</div>
	</div>
</section>
