<header
	style="height: calc(100dvh - 64px)"
	class="relative pb-32 sm:pb-16 bg-primary text-xl xs:text-2xl md:text-3xl lg:text-4xl w-full flex flex-col justify-center gap-2 text-center text-white">
	<span class="leading-loose animate__animated animate__fadeInDown">
		La Méthode claire est
		<b
			class="text-accent font-semibold animate__animated animate__pulse animate__delay-1s inline-block">
			claire </b
		>,
	</span>
	<span
		class="leading-loose animate__animated animate__fadeInLeft animate__delay-1s">
		parce qu'elle ne se contente pas <br />
		de vous dire
		<b
			class="text-accent font-semibold animate__animated animate__pulse animate__delay-2s inline-block">
			quoi faire </b
		>,
	</span>
	<span
		class="leading-loose animate__animated animate__fadeInLeft animate__delay-2s">
		mais aussi
		<b
			class="text-accent font-semibold animate__animated animate__pulse animate__delay-3s inline-block">
			comment faire
		</b>
	</span>
	<span
		class="leading-loose animate__animated animate__fadeInUp animate__delay-3s">
		et surtout, <br />
		<b
			class="text-accent font-semibold animate__animated animate__heartBeat animate__delay-4s inline-block">
			elle le fait avec vous !
		</b>
	</span>
	<section
		class="w-full bg-accent text-xl xs:text-2xl px-12 pt-4 pb-5 italic absolute bottom-0">
		<h3 class="text-center">
			La Méthode claire vous explique, vous guide et vous soutient tout au long
			de l'année !
		</h3>
	</section>
</header>

<section
	id="method"
	class="[&>*:nth-child(even)]:flex-row-reverse py-10 px-3 sm:px-10 max-w-5xl mx-auto pb-9 bg-white">
	<h2>Devenez un expert en apprentissage de la lecture</h2>
	@for (explanation of methodExplanations; track explanation) {
	<article
		class="flex flex-wrap justify-center items-center gap-10 w-full !my-24 px-5 mb-12 md:mb-0">
		<div>
			<span [style]="{color: explanation.color}" class="text-5xl">
				{{explanation.index}}
			</span>
			<h3 class="text-3xl mb-3">{{explanation.title}}</h3>
			<p class="max-w-xs text-xl">{{explanation.description}}</p>
		</div>
		<img
			class="w-2/3 md:w-1/3 md:max-w-xs"
			[src]="'https://raw.githubusercontent.com/louiiuol/la-methode-claire/main/src/assets/img/illustrations/' + explanation.name + '.png'"
			[alt]="'Illustration à propos de ' +explanation.name" />
	</article>
	}
</section>

<section
	class="bg-yellow-light flex flex-wrap gap-12 p-4 py-6 items-center justify-center">
	<app-formula-card />
	<app-card
		title="Et au fait pourquoi une méthode en ligne ?"
		class="max-w-md !mx-0 bg-accent">
		<ul class="list-disc">
			<li>
				Parce qu'étant mise en pratique par Claire et les enseignants qui
				travaillent avec elle, elle ne cesse de s'enrichir.
			</li>
			<li>Parce qu'elle donne un accès facile à la dernière version.</li>
			<li>
				Parce qu'elle permet une interaction avec les abonnés. Et ainsi de se
				sentir moins seuls!
			</li>
		</ul>
	</app-card>
</section>

<section id="cta-register" class="bg-accent">
	<div class="max-w-xl mx-auto p-6">
		<h2>Envie de découvrir la méthode ?</h2>
		<p class="text-2xl text-center">
			Vous pouvez dès à présent créer un compte <b>gratuitement</b> et
			bénéficier d’un aperçu de la méthode.
		</p>
		<div class="pb-6 flex justify-evenly gap-3 flex-wrap">
			<app-button
				class="flex-1"
				href="/method"
				color="primary"
				label="En savoir plus" />
			<app-button
				class="flex-1"
				href="/about"
				color="primary"
				label="Qui est Claire ?" />
			<app-button
				class="w-full"
				type="raised"
				color="primary"
				href="/register"
				label="Créer un compte gratuitement" />
		</div>
	</div>
</section>
