@if (!emailSent) {
<app-card
	class="w-full max-w-3xl animate__animated animate__fadeInDown"
	cardTitle="Bienvenue sur la méthode claire"
	subtitle="Inscrivez-vous et commencez à utiliser la méthode !">
	<app-form
		action="s'inscrire"
		[submitted]="register"
		(sent)="emailSent = $event"
		[resettable]="false"
		[fields]="fields"
		[validators]="validators">
		<div
			class="flex justify-between items-center gap-3 border-orange-500 bg-orange-100 shadow-md my-3 px-3 py-2 border-l-4 rounded-r text-orange-900">
			<mat-icon>warning</mat-icon>
			<div class="flex-1">
				<small class="w-full text-balance">
					En continuant, vous acceptez les
					<a class="underline" target="_blank" href="assets/pdf/cgv.pdf"
						>conditions d'utilisations</a
					>
					de La Méthode claire.
				</small>
			</div>
		</div>
	</app-form>
	<ng-template #cardFooter>
		<p
			class="flex justify-center items-center gap-3 mt-3 w-full text-center text-sm italic">
			Vous possédez déjà un compte ?
			<a mat-button color="primary" routerLink="/login">Se connecter</a>
		</p>
	</ng-template>
</app-card>
} @else {
<app-card
	title="Bienvenue sur la méthode claire"
	subtitle="Afin de vérifier votre compte, nous vous avons envoyé un email de vérification.">
	<img
		class="max-w-xs"
		src="assets/img/email_sent.png"
		alt="email de vérification envoyé" />
</app-card>
}
