<mat-toolbar class="gap-3 !h-16 justify-start">
	<app-button
		class="md:hidden"
		(click)="toggledMobileMenu.emit()"
		aria-label="Afficher le menu pour mobile"
		type="icon">
		<app-icon>menu</app-icon>
	</app-button>

	<app-icon class="w-12 hidden md:inline-block" svg="logo" />

	<app-button
		class="hidden md:block"
		*ngFor="let link of navigationLinks"
		color="primary"
		[href]="'/' + link.path"
		[label]="link.name" />

	<span class="flex-1"></span>
	<app-button
		type="raised"
		color="primary"
		href="/login"
		label="se connecter" />
	<app-button
		type="raised"
		color="accent"
		href="/register"
		label="s'inscrire" />
</mat-toolbar>
